.container {
    margin: 32px;
    padding: 20px;
    box-shadow: 0px 0px 8px 0px #3cc;
}

.img {
    width: 100px;
    height: 100px;
}

.title {
    font-weight: 500;
}

.brand {
    font-size: 14px;
}

.original-price {
    margin-left: 12px;
    color: #999;
    text-decoration: line-through;
}

.discount-percentage {
    margin-left: 8px;
    color: #999;
    font-size: 14px;
}
