.container {
    flex-grow: 1;
    overflow: auto;
}

.id-container {
    padding: 32px 40px;
}

.order-id {
    font-weight: bold;
}

.date-time {
    font-style: italic;
    font-weight: bold;
}

.products-container {
    padding: 32px 40px;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #ccc;
    overflow: auto;
}

.amount-container {
    padding: 32px 40px;
    font-size: 18px;
}

.amount {
    font-weight: bold;
}
