.container {
    flex-shrink: 0;
    height: 60px;
    padding: 0px 32px;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    background-color: #09c;
}

.left-section,
.right-section {
    gap: 28px;
}

.user-details {
    gap: 12px;
}
