.container {
    flex-grow: 1;
    overflow: auto;
}

.items-container {
    justify-content: center;
    flex-grow: 1;
    gap: 32px;
    padding: 32px;
    overflow: auto;
}

.actions-container {
    flex-shrink: 0;
    height: 80px;
    padding: 0px 40px;
    box-shadow: 0px 0px 10px 0px #ccc;
}

.pay-btn {
    width: 160px;
    height: 32px;
}
