.container {
    padding: 20px;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px #09c;
}

.order-id {
    font-size: 14px;
    font-weight: bold;
}

.date-time {
    font-style: italic;
}
